.productmodal__bg
.productmodal
    .productmodal__content
        .productmodal__X
        .productmodal__mainslider.swiper-container
            .productmodal__wrapper.swiper-wrapper
                .productmodal__slide.swiper-slide
                    img(src=products[0].images[0], alt="")
                //- .productmodal__slide.swiper-slide
                //-     img(src=products[0].images[1], alt="")
                //- .productmodal__slide.swiper-slide
                //-     img(src=products[0].images[2], alt="")
                //- .productmodal__slide.swiper-slide
                //-     img(src=products[0].images[3], alt="")
        .productmodal__thumbslider.swiper-container
            .productmodal__wrapper.swiper-wrapper
                .productmodal__slide.swiper-slide
                    img(src=products[0].images[0], alt="")
                //- .productmodal__slide.swiper-slide
                //-     img(src=products[0].images[1], alt="")
                //- .productmodal__slide.swiper-slide
                //-     img(src=products[0].images[2], alt="")
                //- .productmodal__slide.swiper-slide
                //-     img(src=products[0].images[3], alt="")
        .productmodal__description
            p=products[0].description